Repository project-sulsul/SulSul-iOS, pull requests merged in 2023-12, with the labels that each got.

#10 Design: Pretendard 폰트
  Projects/DesignSystem/Resources/Fonts/Pretendard-Black.otf
  Projects/DesignSystem/Resources/Fonts/Pretendard-Bold.otf
  Projects/DesignSystem/Resources/Fonts/Pretendard-ExtraBold.otf
  Projects/DesignSystem/Resources/Fonts/Pretendard-ExtraLight.otf
  Projects/DesignSystem/Resources/Fonts/Pretendard-Light.otf
  Projects/DesignSystem/Resources/Fonts/Pretendard-Medium.otf
  Projects/DesignSystem/Resources/Fonts/Pretendard-Regular.otf
  Projects/DesignSystem/Resources/Fonts/Pretendard-SemiBold.otf
  Projects/DesignSystem/Resources/Fonts/Pretendard-Thin.otf
  Projects/DesignSystem/Sources/Util/FontUtil.swift
  Projects/Feature/Resources/test.swift
  Tuist/Dependencies.swift
Labels: design

#11 Feature/select snack/sul 79
  Projects/App/Resources/Assets.xcassets/common_backArrow.imageset/Contents.json
  Projects/App/Resources/Assets.xcassets/common_backArrow.imageset/common_backArrow@1x.png
  Projects/App/Resources/Assets.xcassets/common_backArrow.imageset/common_backArrow@2x.png
  Projects/App/Resources/Assets.xcassets/common_backArrow.imageset/common_backArrow@3x.png
  Projects/App/Resources/Assets.xcassets/common_search.imageset/Contents.json
  Projects/App/Resources/Assets.xcassets/common_search.imageset/common_search@1x.png
  Projects/App/Resources/Assets.xcassets/common_search.imageset/common_search@2x.png
  Projects/App/Resources/Assets.xcassets/common_search.imageset/common_search@3x.png
  Projects/App/Resources/Assets.xcassets/common_snackCheck.imageset/Contents.json
  Projects/App/Resources/Assets.xcassets/common_snackCheck.imageset/common_snackCheck@1x.png
  Projects/App/Resources/Assets.xcassets/common_snackCheck.imageset/common_snackCheck@2x.png
  Projects/App/Resources/Assets.xcassets/common_snackCheck.imageset/common_snackCheck@3x.png
  Projects/App/Sources/Application/SceneDelegate.swift
  Projects/DesignSystem/Sources/Extension/UIImageView+Extension.swift
  Projects/Feature/Sources/SelectDrink/Model/PairingModel.swift
  Projects/Feature/Sources/SelectSnack/Model/SnackModel.swift
  Projects/Feature/Sources/SelectSnack/Model/SnackModelMapper.swift
  Projects/Feature/Sources/SelectSnack/View/Cell/SnackTableViewCell.swift
  Projects/Feature/Sources/SelectSnack/View/ReuseableView/SnackFooterLineView.swift
  Projects/Feature/Sources/SelectSnack/View/ReuseableView/SnackSortHeaderView.swift
  Projects/Feature/Sources/SelectSnack/View/SearchBarView.swift
  Projects/Feature/Sources/SelectSnack/View/SearchResultEmptyView.swift
  Projects/Feature/Sources/SelectSnack/View/SelectLimitToolTipView.swift
  Projects/Feature/Sources/SelectSnack/View/SelectSnackViewController.swift
  Projects/Feature/Sources/SelectSnack/ViewModel/SelectSnackViewModel.swift
  Projects/Feature/Sources/TestViewController.swift
Labels: feature

#12 Feature/base code/sul 76
  Projects/App/Sources/Application/SceneDelegate.swift
  Projects/App/Support/Info.plist
  Projects/DesignSystem/Resources/Color/Assets.xcassets/gray/gray100.colorset/Contents.json
  Projects/DesignSystem/Resources/Color/Assets.xcassets/main.colorset/Contents.json
  Projects/DesignSystem/Sources/Base/BaseCollectionViewCell.swift
  Projects/DesignSystem/Sources/Base/BaseViewController.swift
  Projects/DesignSystem/Sources/Base/DisappearKeyBoardBaseViewController.swift
  Projects/DesignSystem/Sources/Base/SelectTasteBaseViewController.swift
  Projects/DesignSystem/Sources/CustomView/AlertView.swift
  Projects/DesignSystem/Sources/CustomView/BaseTopView.swift
  Projects/DesignSystem/Sources/CustomView/IndicatorTouchableView.swift
  Projects/DesignSystem/Sources/CustomView/SingleButtonAlertViewController.swift
  Projects/DesignSystem/Sources/CustomView/TouchableLabel.swift
  Projects/DesignSystem/Sources/Extension/UIViewController+Extension.swift
  Projects/Feature/Sources/SelectDrink/VIew/DrinkCell.swift
  Projects/Feature/Sources/SelectDrink/VIew/SelectDrinkViewController.swift
  Projects/Feature/Sources/SelectDrink/ViewModel/SelectDrinkViewModel.swift
  Projects/Feature/Sources/SelectSnack/ViewModel/SelectSnackViewModel.swift
  Projects/Feature/Sources/TestKeyboardDisappearViewController.swift
Labels: feature, design
